<table class="table table-bordered  table-striped">
    <thead>
        <tr>
            <td><a ng-click="ctrl.sortCandidates()">Name</td>
            <td>Enabled</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="candidate in ctrl.candidates" candidate-row candidate="candidate"></tr>
        <tr>
            <td colspan="2">
                <form ng-submit="ctrl.addCandidate()">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" ng-model="ctrl.candidateName">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>